.Event{
  font-family: 'Lato', sans-serif;
   background: url(../../image/Untitled-1.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow: auto;
  flex-grow: 1;
  color: #fff;
}
.Form{
  margin: auto;  
	width: 350px;
	padding: 20px;
	box-sizing: border-box;
	border: none;
	background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);		
  color: #292929;
  border : 2px solid #31105E;
  border-radius: 4px;
  text-align: center
}

.Form:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.Form input[type="text"]{
 width: 100%;
 display: block;
 border-bottom : 2px solid #31105E;
 padding: 10px 5px 5px;
 color: #31105E;
 outline: none;
 font-size: 18px;
 margin-bottom : 20px;
 transition: all 0.5s ease-in
}
.Form input[type="text"]:hover,
.Form input[type="text"]:focus
{
  border-bottom: 2px solid rgb(124, 202, 216)
}
input::placeholder{
  color: #31105E;

}

.Form button{
  margin-top: 10px;
  background-color: #31105E;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);	

}

.Form button:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.Form textarea{
  font-family: 'Lato', sans-serif;
  resize: none;
  text-align: none;
  width: 100%;
  border: 2px solid #31105E;
  padding: 10px 5px 5px;
  height: 80px;
  margin: 10px auto; 
  color: #31105E;
  transition: all 0.5s ease-in;
}

.Form textarea::placeholder
{

color: #31105E;

}
.Form textarea:hover,
form textarea:focus{
  border: 2px solid rgb(124, 202, 216)
}
.CustomFileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.CustomFileInput::before {
  content: 'Upload';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  user-select : none;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;

}
.CustomFileInput:hover::before {
  border-color: black;
}
.CustomFileInput:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}