.Landing{

  font-family: 'Lato', sans-serif;
  background: url(../image/Shape-01.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}


header {
  
  width : 500px;
  padding: 0 5%;
  /* text-align: center; */

}


header h1 {
  width: 100%;
  margin : 20px 0; 
  /* margin: 2em 0 0 0 ; */
}

header p {
  width: 100%;
  margin : 20px 0; 
  /* margin: 2em 0 0 0 ; */
}

 header hr{
   width: 100%;
    border: 2px solid #230B56;
    margin : 20px 0; 
 }
.Btnfill {
  background-color: #230B56;
  border-radius: 20px;
  color: #fff;
  width: 40%;
  padding: 10px;
  font-size: 16px;
  font-weight: 200;
  margin : 0 auto; 
  box-sizing: border-box;
  box-shadow: 0 0  10px rgba(0 , 0 , 0 , 0.4);
  margin-right: 10px;
  
  
}
.Btnfill:hover {
 cursor: pointer;
  
  
}
.Hidden{
  display: none;
}
.Social ul {
  display: flex;
  top: 0%;
  margin-left: 0px;
}
.Social ul li {
  text-decoration: none;
  list-style: none;
  margin-top: 0px;
  padding-left: 0px;
}
.Social ul li a { 
  font-size: 25px;
  position: relative;
  height: 55px;
  width: 55px;
  background-color: #230b56;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding-top: 15px;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
  text-decoration: none;
  top: 50%;
}
.Social ul li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.Social ul li a .fa {
  
  background: #ff0;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 50%;
  color: #262626;
  transition: 0.5s;
  line-height: calc(60px - 12px);
  background: linear-gradient(0deg, #fff, #ddd);
}
.Social ul li a:hover{
  color: #67106E
}
/* resposive */
@media only screen and (max-width: 600px) {
 .Landing {
  background: none;
  background-color: #fff;
  background-attachment: none;
-webkit-background-size: contain;
-moz-background-size: contain;
-o-background-size: contain;
background-size: contain;
height: 100%;
overflow: auto;

}
header {
  width : auto;
margin: 2em 0 0 0 ;                                 
  /* text-align: center; */

}                
header h1 {
  font-size: 2em;
  width: 100%;                           
  margin : 20px 0; 
  /* margin: 2em 0 0 0 ; */
}

header p {
  width: 100%;
  font-size: 20px;
  margin : 20px 0; 
  /* margin: 2em 0 0 0 ; */
}

 header hr{
   width: 100%;
    border: 2px solid #000066;
    margin : 20px 0; 
 }
.Btnfill {
  background-color: #000066;
  border-radius: 20px;
  color: #fff;
  width: 40%;
  padding: 10px;
  font-size: 16px;
  font-weight: 200;
  margin : 0 auto; 
  
  
}
.Hidden{
  display: block
}
}