*{
  box-sizing: border-box
}

.Container{
  padding-bottom: 20px; 
}
.Card {
  display: inline-block;
  background-color: #fff;
  width: 350px;
  height: 100%;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow:hidden ;

}


.Top{
  text-align: left;
  padding: 10px;
  width: 100%;
  height: 60px;
}

.Top p {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;

}

.Top .Date{
  position: absolute;
  top: 40px;
  color: #a9a9a9;
  font-size: 12px;
  font-weight: bold
}

.Top .Menu{
  position: absolute;
  right: 0;
  top: -10px;
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
  color: #a9a9a9
}

.Top .Menu:hover{
animation-name: vibration;
animation-duration: 0.3s;
animation-direction: alternate-reverse;
animation-iteration-count: 2;
}
.Desc{
  text-align: left;
  padding: 10px;
  color: #a9a9a9;
  font-size: 14px;
  font-weight: 600


}
.Share{
  text-align: left;
  /* padding: 10px; */
}
@keyframes vibration{
  0%{
    transform: rotate(40deg)
  }
  100%{
    transform: rotate(-30deg)
   
  }
}

.ShareButton > * {
  transition: 0.3s all ease;
  cursor: pointer;
}
.Share:hover + .SubButton li, .SubButton:hover li {
  opacity: 1;
  transform: translate3d(0, -20px, 0) scale(1);
}

.SubButton{
  list-style:none;
  margin: 0 0 0 10px;
  padding: 0;
  position: absolute;
  bottom: 90px;
  background-color:none; 
  cursor: pointer;
}

.SubButton li {
  transition: 0.3s all ease;
  transform: translate3d(0, 15px, 0) scale(0.6);
  opacity: 0;
  background-color:none; 
  background: none;
  border-radius: 50%;
  height: auto;
  width: auto;
  font-size: 0.6em;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.SubButton li:nth-child(1) {
 
  cursor: pointer;

  transition-delay: 0.1s;
}

.SubButton li:nth-child(2) {
  cursor: pointer;

  transition-delay: 0.1s;
}
.SubButton li:nth-child(3) {
  cursor: pointer;

  transition-delay: 0.1s;
}

  
@media only screen and (max-width: 400px) {

.Card{
  width: 100%;
  box-shadow: none;

}
  
  }