.Login{
  font-family: 'Lato', sans-serif;
  background: url(../../image/Shape-01.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow: auto;
}
.Loginbox {
  position: absolute;
  width : 400px;
  padding: 10px;
  margin: 0 10%;
  text-align: center;
}
.UserAvatar {

  width: 100px;
  height: 100px;
}
.Form input {
  margin: 10px 0;
  height: 40px;
  width: 100%;
  border: 1.5px solid #230b56;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
  transition: all 0.2s ease
}
.Form input:focus{
  border: 2px solid rgb(124, 202, 216)
}
.Form input::placeholder {
  color: #230b56;
  /* padding-left: 60px; */
  font-size: 20px;
}
.Form button {
  background-color: #230b56;
  color: white;
  font-size: 22px;
  border: 1.5px solid #230b56;
  border-radius: 6px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.Form button:hover{
  background-color:#180641;
  cursor: pointer;
}
.cust {
  margin-left: 350px;
  position: absolute;
  background: #fff;
  margin-top: 15px;
  color: #230b56;
}
.Signup{
  text-align: center;
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4) 
}
.Signup a{
  color: #31105e;
 border-bottom: 2px solid #31105e;
  cursor: pointer;
}
.Signup a:hover{
  color: #230b56
}
.Hidden{
  display: none;
}
.ErrorFeedback{
  text-align: left;
  color: red;
}
.Error{
  position: relative;
  border : 2px solid red;
  animation: shake 1s 0.5s;
 
}

 @keyframes shake{
   0% , 100% {
     left: 0px
   }
   20% , 80% {
     left: -15px;
   }
   40% , 60% {
     left: 15px;
   }
 }

/* responsive */




@media only screen and (max-width: 600px) {
.Login {
  background: none;
  background-color: #fff;
  background-attachment: none;
-webkit-background-size: none;
-moz-background-size: none;
-o-background-size: none;
background-size: none;
height: 100%;
overflow:auto;

}
.Loginbox {
  width : 500px;
  padding: 15px;
  margin: 0 35px;

}
.cust {
  margin-left: 435px;
  
 


}
.Hidden{
 display: block;
}
}
@media only screen and (max-width: 500px) {
  .Loginbox {
    width : 420px;
    padding: 15px;
    margin: 0 10px;
  
  }
  .cust {
    margin-left: 350px;
  
  }
}
@media only screen and (max-width: 400px) {

.Loginbox {
  width : 320px;
  padding: 15px;
  margin: 0 10px;

}
.cust {
  margin-left: 250px;

}

}
@media only screen and (max-width: 320px) {

.Loginbox {
  width: 300px;
  padding: 0;
  margin-left: 0px;

}

}