.Top{
  padding: 0 10px;
  box-sizing: border-box
}
.Name{

 font-size: 2rem;
 color: #31105e;
 text-transform: capitalize;
 text-align: left;
}
.Date{
  text-align: left;
  color: #a7a7a7;
  font-size: 12px;
  position: relative;
  top: -25px;
}
.Nav{
  position: relative;
  top: -60px;
  font-size: 22px;
  float: right;
  cursor: pointer;
}
.BottomNavBar{
  width: 100%;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
}

 .Button{
  background-color: #31105E;
  color: #fff;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);	
}

 .Button:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.Disabled {
  background-color: #31105E;
  color: #fff;
  border-radius: 10px;
  opacity: 0.65; 
  width: 100%;
  cursor: not-allowed;
  pointer-events:none;
}




@media only screen and (max-width: 600px) {

  .ImagePc{
    display: none;
  }


}



@media only screen and (max-width: 400px) {

.Image500{
  display: none;
}

}