* {
  margin: 0px;
  padding: 0px;
  outline: 0;
  border: 0;
  vertical-align: middle;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

html {
height: 100%;
max-height: 100vh
}

body {
  overflow: auto;
  width: 100%;
}

h1 {
  font-size: 3em;
  font-weight: 100;
  color: #230B56;
}

h3 {
  font-size: 1.5px;
}

p {
  font-size: 1.5em;
}
::-webkit-scrollbar {
  width: 10px;
	background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

	background-color: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {

	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a9a9a9;
}
::-webkit-scrollbar-corner       { display: none; height: 0px; width: 0px; }
::-webkit-scrollbar:horizontal {
  height: 10px;
}

@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar:horizontal {
   display: none;
  }


}


@media only screen and (max-width: 400px) {
  ::-webkit-scrollbar:horizontal {
   display: none;
  }


}




