
    nav {
      width: 100%;
      text-align: right;
      padding : 2%;
      box-sizing: border-box;
     
    }
    .Event{

      border-radius: 10px;
      font-size: 20px;
      
    }
    .Guide{
      border-radius: 10px;
      font-size: 20px;
    }
    .Event:hover{
      /* margin-right: 10px;       */
      border: 2px solid #230B56;
      background-color: #e7e7e7;
      color: #230B56;
      cursor: pointer;      
      
    }
    .Guide:hover{
      border: 2px solid #230B56;      
      background-color: #e7e7e7;
      color: #230B56;
      cursor: pointer;
    }
    nav a {
      text-decoration: none;
      font-weight: 700;
      font-size: 20px;
      color: #230B56;
      padding: 10px;
   
    }
   nav a:hover{
     cursor: pointer;
   }
    nav a:first-child {
      float: left;
    }
  

    nav a img {
      vertical-align: center;
    }

    .Login{
      color: #ffff;

    }
    .Register{
      color: #ffff;
      border: 2px solid #fff;
      border-radius: 20px;
      font-size: 16px;
  line-height: 25px;
    }
