.Register{
  height: 400px;
  width: 400px;
}
.Loginbox {
  position: absolute;
  width : 400px;
  box-sizing: border-box;
  text-align: center;
}
.UserAvatar {

  width: 100px;
  height: 100px;
}
.Form input {
  margin: 10px 0;
  height: 40px;
  width: 100%;
  border: 1.5px solid #230b56;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
  transition: all 0.2s ease
}
.Form input:focus{
  border: 2px solid rgb(124, 202, 216)
}
.Form input::placeholder {
  color: #230b56;
  /* padding-left: 60px; */
  font-size: 20px;
}
.Form button {
  background-color: #230b56;
  color: white;
  font-size: 22px;
  border: 1.5px solid #230b56;
  border-radius: 6px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.Form button:hover{
  background-color:#180641;
  cursor: pointer;
}
.cust {
  margin-left: 350px;
  position: absolute;
  background: #fff;
  margin-top: 15px;
  color: #230b56;
}
.Signup{
  text-align: center;
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4) 
}
.Hidden{
  display: none;
}
.ErrorFeedback{
  text-align: left;
  color: red;
}
.Error{
  position: relative;
  border : 2px solid red;
  animation: shake 1s 0.5s;
 
}
 @keyframes shake{
   0% , 100% {
     left: 0px
   }
   20% , 80% {
     left: -15px;
   }
   40% , 60% {
     left: 15px;
   }
 }

/* responsive */


@media only screen and (max-width: 500px) {
  .Register {
 width: 400px

} 
.Loginbox {
  width: 360px;
  padding: 0;
  margin-left: 0px;

}
.cust {
  margin-left: 320px;
  position: absolute;
  background: #fff;
  margin-top: 15px;
  color: #230b56;
}
}

@media only screen and (max-width: 400px) {

  .Register {
    width: 300px;
    box-sizing: border-box;

   
   }
  .Loginbox {
    width: 270px;
    padding: 0;
    margin-left: 0px;
  
  }
  .cust {
    margin-left: 240px;
    position: absolute;
    background: #fff;
    margin-top: 15px;
    color: #230b56;
  }

}
@media only screen and (max-width: 320px) {
  .Register {
    width: 250px;
    box-sizing: border-box;

   
   }
  .Loginbox {
    width: 220px;
    padding: 0;
    margin-left: 0px;
  
  }
  .cust {
    margin-left: 190px;
    position: absolute;
    background: #fff;
    margin-top: 15px;
    color: #230b56;
  }

}

