
.Dashboard1{
  background-color : #e6e6e6;
   
    font-family: 'Lato', sans-serif;
    /* height: 100vh; */
    overflow: auto;
    flex-grow: 1;
    height: auto;
  text-align: center;
    color: #31105E;
}
.Greeting{
padding-bottom: 100px

}
.Desc{
  font-size: 18px;
}
.Button{
  text-decoration: none;
  border: 2px solid #fff;
  color: #fff;
  background-color: #31105E;  
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 20px 
}

.Button:hover{

  background-color: white;
  cursor: pointer;
  color: #31105E; 
  border: 2px solid #31105E
}
.image{
text-align: center;
margin-top: 12%;

}

.Greetings{
  text-align: center;
  width: 500px;
  margin: 10px auto;
  color: white;
}
.Form{

  width: 320px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #31105E

}
.Form input{
  width: 100%;
  display: block;
  height: 40px;
  border-bottom: 2px solid #31105E;
  background-color: transparent;
  padding: 10px;
}

.Guide{

  text-align: center;
  color: #31105E;
width: 80%;
margin: auto
  }
  
  .Guide i{
    font-size: 5rem !important;
  }
  
  .Guide p{
    font-size: 16px;
    margin-top: 20px 
  }
  
  @media only screen and (max-width: 320px) {

    .Dashboard1 {
     height: auto;
     padding: 30px;
    
    }
    
    }
