.Form{
  width: 80%;
  margin: 10px auto;
  text-align: left;

  padding: 10px;
  font-size: 16px;
  border-bottom: 2px solid #31105e
}

.Form input{
  border: 2px solid #31105e;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px; 
}

.Form button{
  background-color: transparent;
  border-radius: 4px;
  padding: 10px;
  border: 2px solid #31105e;
  cursor: pointer;
  width: 100%;

}