.Error{
  font-family: 'Lato', sans-serif;
  background: url(../../component/image/WishBirdError-01.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow: auto;
  text-align: center;
  color: #31105e
}

.ErrorMsg{
  width: 50%;
  margin-top: 50px;
}

@keyframes fade-img {
  0%{
    transfor:translateX(0px); 
  }
  100%{
    transform:translateX(20px);
  }
}

.Img{
  max-width: 100%;
  animation-name: fade-img;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  -webkit-transition: all 0.9s ease;
     -moz-transition: all 0.9s ease;
       -o-transition: all 0.9s ease;
          transition: all 0.9s ease;
  animation-direction: alternate;
}
@media only screen and (max-width: 400px) {
.Error{
  background: none;
  background-color: #e7e7e7

}

.ErrorMsg{
  width: 100%
}



}