.Guide{
  text-align: center;
  color: #31105E;
width: 80%;
margin-top: 2%;
margin-bottom: 2%;
margin-left: auto; 
margin-right: auto; 
}

.Guide i{
  font-size: 3rem !important;
}

.Guide p{
  font-size: 16px;
  margin-top: 20px 
}
