.Sidenav{
  height: 100%;
  width: 280px;
  max-width: 70%;
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 4px 6px -2px #660066;
  -moz-box-shadow: 2px 4px 6px -2px #660066;
  box-shadow: 2px 4px 6px -2px #660066;
  transition: all 0.5s cubic-bezier(.06,.4,.54,.83);
}
.Open{
  transform: translateX(0px)
}
.Close{
  transform: translateX(100%)
}
.Sidenav a {
  text-align: left;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-weight: 100;

}
.TopPart{
  height: 200px;
  width: 100%;
  background-color: #31105e;
  padding: 10px;
}
.TopPart p{
  color: #fff;
  font-size: 24px;
  text-transform: capitalize;
}
.TopPart i{
  color: #fff;
  position: absolute;
  left: 20px;
  font-size: 24px !important;
  font-weight: 100;
}

@media (min-width: 997px){

.Sidenav{
  display: none;
}

}
