.Profile {
  font-family: 'Lato', sans-serif;
  background-color: #e7e7e7;
  height: auto;
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  text-align: center;

}

.ProfileIntro{
  margin: 10px auto;
  padding: 20px;
  box-sizing: border-box;
  width: 600px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);	
}

.ProfileIntro:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.ProfileIntro hr{
  width: 200px;
  border: 2px solid #31105e;
  margin: 0 auto;
}
.UpdateLink{
  width: 200px;
  cursor: pointer;
  font-size: 16px;
  color: #31105e;
  font-weight: 800;
  margin: 0 auto;

}

.UpdateLink:hover{
  border-bottom : 2px solid #31105e
}

.Info{
  font-size: 24px;
  color: #31105e;
  font-weight: 800;
  /* float: left; */

}

.Details {
  text-transform: capitalize;
  font-weight: 500
}

.Message{
  font-size: 20px;
  color: #31105e;
  font-weight: 500
}
.CustomFileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.CustomFileInput::before {
  content: 'Upload';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  user-select : none;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;

}
.CustomFileInput:hover::before {
  border-color: black;
}
.CustomFileInput:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.ProfileIntro input[type="password"] {
  margin: 10px 0;
  height: 40px;
  width: 100%;
  border: 1.5px solid #230b56;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
  transition: all 0.2s ease
}
.ProfileIntro input[type="password"]:focus{
  border: 2px solid rgb(124, 202, 216)
}
.ProfileIntro input[type="password"]::placeholder {
  color: #230b56;
  /* padding-left: 60px; */
  font-size: 20px;
}
.ProfileIntro button {
  background-color: #230b56;
  color: white;
  font-size: 22px;
  border: 1.5px solid #230b56;
  border-radius: 6px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.ProfileIntro button:hover{
  background-color:#180641;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {

  .ProfileIntro{
    width: 500px;
  }


}

@media only screen and (max-width: 500px) {

  .ProfileIntro{
    width:100%
  }


}
@media only screen and (max-width: 400px) {

  .ProfileIntro{
    width: 100%;
  }


}