
.Nav{
  padding-bottom: 5%;
  font-family: 'Lato', sans-serif;


}

.Navbar{
  background-color: #31105e;
}

.NavbarBrand {
  font-weight: 100;
  font-size: 20px;
  color: white;
}
.NavbarBrand:hover {
  color: #fff !important;
}
.NavItem1{
  display: none !important;
  color: #fff !important;
}
.NavItem a{
  font-weight: 100;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.Nav ul li a:hover,
.Nav ul li a:focus,
.Nav ul li a.active{
  background-color:#4a3963 !important ;
  border-radius: 2px;
}
@media only screen and (max-width: 997px) {

  .NavItem{
    display: none;
  }
  .NavItem1{
    display: block !important;
  
  }
.NavItem1 a{
  font-weight: 100;
  font-size: 20px;
  color: #fff;
}

}


