.Post {
  
 
  background-color: #e7e7e7;
  height: 100%;
  min-height: 100vh;
  text-align: center;
  
}
.Profile{
  text-align: center;
  margin: 0 auto;
  position: sticky;
  background-color: #FAFAFA;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 10px;
}
.Card{
  width: 600px;
  height: auto;
  background-color: #FAFAFA;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.CardForm{
  width: 600px;
  height: auto;
  background-color: #FAFAFA;
  margin: 20px auto;
  overflow: hidden;
}

.CardForm input {
  margin: 10px 0;
  height: 40px;
  width: 100%;
  border: 1.5px solid #230b56;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
  transition: all 0.2s ease
}
.CardForm input:focus{
  border: 2px solid rgb(124, 202, 216)
}
.CardForm input::placeholder {
  color: #230b56;
  font-size: 20px;
}

.CardForm textarea{
  font-family: 'Lato', sans-serif;
  resize: none;
  text-align: none;
  width: 100%;
  border: 2px solid #31105E;
  padding: 10px 5px 5px;
  height: 80px;
  margin: 10px auto; 
  color: #31105E;
  transition: all 0.5s ease-in;
  box-sizing: border-box
}

.CardForm textarea::placeholder
{

color: #31105E;

}
.CardForm textarea:hover,
.CardForm textarea:focus{
  border: 2px solid rgb(124, 202, 216)
}

.Card button{
  margin-top: 10px;
  background-color: #31105E;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);	
}

.Card button:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.CardForm button{
  margin-top: 10px;
  background-color: #31105E;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);	

}

.CardForm button:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.CustomFileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.CustomFileInput::before {
  content: 'Upload';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 2px 8px;
  outline: none;
  white-space: nowrap;
  user-select : none;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  box-sizing: border-box

}
.CustomFileInput:hover::before {
  border-color: black;
}
.CustomFileInput:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
@media only screen and (max-width: 600px) {

    .Card{
      width: 500px;
      height:  auto;
    }
    .CardForm{
      width: 500px;
      height: auto
    }
    .Card h1{
      font-size: 30px
    }
    .ImagePc{
      display: none;
    }
    .CommentWish label {
      position: absolute;
      left: 0;
      top: 0;
      width: 100% !important;
      color: #d3d3d3;
      transition: 0.2s all;
    }
    .CommentWish input {
      width: 100% !important;
      border: 0;
      outline: 0;
      padding: 0;
      border-bottom: 2px solid #d3d3d3;
    }
    .CommentWish button{
      width: 100%;
      display: inline;
      padding: 5px;
      background-color: #FAFAFA;
      color: #31105e;
      border: 2px solid #31105e;
      border-radius: 15px;
      cursor: pointer;
      transition: 0.5s all ease
    
    }

}

@media only screen and (max-width: 500px) {
  .Card{
    width: 100%;
  }
  .CardForm{
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  
  .Card{
    width: 100%;
  }

  .Image500{
    display: none;
  }

}