.Center{
  width: 5%;
  margin: auto;
}


.Avatar{
  
  width: 100px;
  height: 100px;
  border-radius: 50%;
  line-height: 100px;
  background-color: #31105e;
  color: #fff;
  /* text-align: center; */
  font-size: 14px;
  /* padding: 20px 15px; */
}