.Forgot{
  background-color: #e7e7e7;
  font-family: 'Lato', sans-serif;
  background-color: #e7e7e7;
  height: auto;
  width: auto;
  flex-grow: 1;
  color: #31105e
}


.Form{
  padding: 4%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  width: 600px;
  height: 450px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.Form:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.Form input {
  margin: 10px 0;
  height: 40px;
  width: 100%;
  border: 1.5px solid #230b56;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
  transition: all 0.2s ease
}
.Form input:focus{
  border: 2px solid rgb(124, 202, 216)
}
.Form input::placeholder {
  color: #230b56;
  /* padding-left: 60px; */
  font-size: 20px;
}
.Form button {
  background-color: #230b56;
  color: white;
  font-size: 22px;
  border: 1.5px solid #230b56;
  border-radius: 6px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.Form button:hover{
  background-color:#180641;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {

  .Form{
    width: 500px;
    height: 400px;

  }

}

@media only screen and (max-width: 500px) {

  .Form{
    width: auto;
    margin: 10% auto;
  }

}